<div class="container">
  <div class="row mt-5">
    <h2>商品一覧画面</h2>
  </div>

  <div class="row mt-5">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>商品ID</th>
          <th>商品名</th>
          <th>税抜き価格</th>
          <th>ジャンル</th>
          <th>ステータス</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>1</td>
          <td>洋ナシのタルト</td>
          <td>1,200</td>
          <td>ケーキ</td>
          <td>販売中</td>
        </tr>

            <tr>
          <td>1</td>
          <td>洋ナシのタルト</td>
          <td>1,200</td>
          <td>ケーキ</td>
          <td>販売中</td>
        </tr>

            <tr>
          <td>1</td>
          <td>洋ナシのタルト</td>
          <td>1,200</td>
          <td>ケーキ</td>
          <td>販売中</td>
        </tr>

            <tr>
          <td>1</td>
          <td>洋ナシのタルト</td>
          <td>1,200</td>
          <td>ケーキ</td>
          <td>販売中</td>
        </tr>

            <tr>
          <td>1</td>
          <td>洋ナシのタルト</td>
          <td>1,200</td>
          <td>ケーキ</td>
          <td>販売中</td>
        </tr>

            <tr>
          <td>1</td>
          <td>洋ナシのタルト</td>
          <td>1,200</td>
          <td>ケーキ</td>
          <td>販売中</td>
        </tr>

            <tr>
          <td>1</td>
          <td>洋ナシのタルト</td>
          <td>1,200</td>
          <td>ケーキ</td>
          <td>販売中</td>
        </tr>

            <tr>
          <td>1</td>
          <td>洋ナシのタルト</td>
          <td>1,200</td>
          <td>ケーキ</td>
          <td>販売中</td>
        </tr>

            <tr>
          <td>1</td>
          <td>洋ナシのタルト</td>
          <td>1,200</td>
          <td>ケーキ</td>
          <td>販売中</td>
        </tr>

            <tr>
          <td>1</td>
          <td>洋ナシのタルト</td>
          <td>1,200</td>
          <td>ケーキ</td>
          <td>販売中</td>
        </tr>
      </tbody>
    </table>
  </div>

</div>