<div class="container">
  <div class="row">
	<h1>本当に退会しますか？</h1>
	<p>退会すると、会員登録情報やこれまでの購入履歴が閲覧できなくなります。退会する場合は、「退会する」をクリックしてください。</p>
  </div>

  <div class="row">
          <div class="col-3">
           <%= link_to "退会しない" ,orders_path, class: "btn btn-primary" %>
           <!-- 注文履歴一覧へ-->
          </div>
          <div class="col-3">
           <%= link_to "退会する" , root_path, class: "btn btn-danger" %>
           <!-- トップページへ(ログアウトするのと退会済みに切り替えるアクションが必要）-->
          </div>

  </div>
</div>