<div class="container">
  <div class="row mt-5">
    <h2>管理者画面</h2>
  </div>

  <div class="row mt-5">
    
    <div class="col-2">
      <p>本日受注した注文件数</p>
    </div>

    <div class="col-3">
      <p><%= link_to admin_today_orders_path do %>
        <%= Order.where(created_at:  Time.zone.now.all_day).count %>
        <% end %>件</p>
      <!-- 表示件数 => 今日1日のデータ数をカウント。 -->
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-sm-2">
      <p>本日製作分の注文件数</p>
    </div>

    <div class="col-sm-3">
      <p><%= link_to admin_yesterday_orders_path do %>
        <%= Order.where(created_at: 1.day.ago.all_day).count %>
        <% end %>件</p>
      <!-- 表示件数 => 昨日1日のデータ数をカウント。 -->
    </div>
  </div>
</div>