<div class="container">
  <div class="row mt-5">
    <h2>管理者画面</h2>
  </div>

  <div class="row mt-5">
    <div class="col-sm-2">
      <p>本日の注文件数</p>
    </div>

    <div class="col-sm-3">
      <p><%= link_to "8", admin_items_path %>件</p>
    </div>

  </div>
</div>