<div class="container">
  <div class="row mt-5">
    <h2>管理者画面</h2>
  </div>

  <div class="row mt-5">
    <div class="col-sm-2">
      <p>本日の注文件数</p>
    </div>

    <div class="col-sm-3">
      <p><%= link_to admin_orders_path do %>
        <%= Order.where(created_at: :today).count %>
        <% end %>件</p>
      <!-- 表示件数 => 今日1日のデータ数をカウント。今日オーダーが入ったら更新されちゃいそう。やり方は理解できていない。 -->
    </div>

  </div>
</div>

<div class="signout">
  <%= link_to "logout", destroy_admin_session_path, method: :delete %>
</div>