<div class="container">
  <div class="row">
	<h1>本当に退会しますか？</h1>
	<p>退会すると、会員登録情報やこれまでの購入履歴が閲覧できなくなります。退会する場合は、「退会する」をクリックしてください。</p>
  </div>

  <div class="row">
          <div class="col-3">
           <%= link_to "退会しない" ,customer_path(current_customer), class: "btn btn-primary" %>
           <!-- 注文履歴一覧へ-->
          </div>
          <div class="col-3">
           <%= link_to "退会する" , withdrow_switch_customer_path(@customer),method: :patch, class: "btn btn-danger" %>
           <!-- 会員ステータスを無効に切り替えるswichアクションを呼ぶ-->
          </div>

  </div>
</div>