  <div class="container-fulied bg-info text-center">ビックイメージ</div>



<div class="container　container-m text-center">
 <p>pick up</p>
  <div class="row">
    <div class="col-md-3">おすすめ商品１
    </div>
    <div class="col-md-3">おすすめ商品2
    </div>
    <div class="col-md-3">おすすめ商品3
    </div>
    <div class="col-md-3">おすすめ商品4
    </div>
  </div>
</div>