<table frame="box">
	 <tr>
	  <th>ジャンル検索</th>
	 </tr>
	<% genres.each do |genre| %>
	 <tr>
	   <td>link_to genre.name, "#" </td>
	 </tr>
	 <% end %>
	 <!-- サンプル表示 -->
	 <tr>
	 <td>ケーキ</td>
	 </tr>
	  <tr>
	 <td>焼き菓子</td>
	 </tr>
	 <tr>
	 <td>プリン</td>
	</tr>
	 <tr>
	 <td>キャンディ</td>
	</tr>
	<!-- サンプル表示 -->
</table>