<!-- <div class="genre box"> -->
<div class="container">
 <div class="row">
  <div class="col-3 col-offset-1 mt-4">
  <%= render 'genrebox', genres: @genres %>
	
	<!-- <div class="col-8 my-3"> -->
  </div>
 </div>
</div>