/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

 @import "bootstrap";


// スライドデザイン
.carousel{
  height: 600px;
  overflow: hidden;
}


// フッター最下部固定
body{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Helvetica Neue', 'Helvetica', 'Hiragino Kaku Gothic ProN', YuGothic, 'Yu Gothic Medium', Meiryo, sans-serif;
}
footer {
  margin-top: auto;
}

// ボタンの色調整(茶色のやつ)
.btn-outline-danger {
    border: 1px solid #432c28;
    color: #432c28;
}
.btn-outline-danger:hover{
  border-color: #ff6347;
  background-color: #ff6347;
}

// ボタンの色調整(赤いやつ)
.btn-danger,
.btn-danger.disabled,
.btn-danger:disabled {
  color: #fff;
  background-color: #ff6347;
  border-color: #ff6347;
}
.btn-danger:hover {
  color: #fff;
  background-color: #432c28;
  border-color: #432c28;
}

// 赤いボーダーライン
.red-border{
  border-bottom: 1px solid #ff6347;
}

// 茶色いボーダーライン
.brown-border{
  border-bottom: 1px solid #432c28;
}

// アカウント登録画面の背景
.registration{
  background-color: #fffafa;
}

// リンクの色
a{
  color: #432c28;
  text-decoration: none;
}

a:hover {
  color: #ff6347;
  text-decoration: none;
}
<<<<<<< HEAD
=======



// サンクスページ
.thanksbox{
  margin-top: 50px;
  width: 50%;
}

<<<<<<< HEAD
.thankscomment{
  font-family: 'Hiragino Kaku Gothic ProN',"メイリオ", sans-serif;
}
>>>>>>> 63e7a776ed20155ca15007a89546a66d3a379afe
=======
// ページネーションデザイン

.pagination>li>a {
  border: none;     /*枠線をなくす*/
  color: #432c28;   /*文字の色を変える*/
  margin-left: 5px;
}

/* 表示しているページ番号のデザイン */
.pagination>.active>a {
  background-color: #ff6347;     /*背景の色を変える*/
  border-radius: 15px;     /*角を丸くする*/
}

.page-item.active .page-link {
  z-index: 1;
  color: #fff;
  background-color: #ff6347;
  border-color: #ff6347;
}

.page-item:first-child .page-link {
  border-radius: 50%;
}

.page-item:last-child .page-link {
  border-radius: 50%;
}


/*ホバー時のデザイン*/
.pagination>li>a:hover {
  border-radius: 50%;    /*角を丸くする*/
  background-color: #ff6347;     /*背景の色を変える*/
  border-color: #ff6347;
  color: #fff;
}

/*クリック時のデザイン*/
.page-link:focus {
  box-shadow: 0 0 0 0.2rem #d25c67; /*ボックス周りの影の色*/
}

>>>>>>> 663a701abe86795d0fa011459176079897ea9176
