/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

 @import "bootstrap";


// スライドデザイン
.carousel{
  height: 600px;
  overflow: hidden;
}


// フッター最下部固定
body{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
footer {
  margin-top: auto;
}

// ボタンの色調整
.btn-outline-danger {
    border: 1px solid #432c28;
    color: #432c28;
}

// 赤いボーダーライン
.red-border{
  border-bottom: 1px solid #ff6347;
}

// 茶色いボーダーライン
.brown-border{
  border-bottom: 1px solid #432c28;
}

// アカウント登録画面の背景
.registration{
  background-color: #fffafa;
}

// リンクの色
a{
  color: #432c28;
}
