<div class="container">
  <div class="row">
    <h2>会員情報一覧</h2>
  </div>

  <div class="row">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>会員ID</th>
          <th>氏名</th>
          <th>メールアドレス</th>
          <th>ステータス</th>
        </tr>
      </thead>

      <tbody>
        <% @customers.each do |customer| %>
        <tr>
          <td><%= customer.id %></td>
          <td><%= customer.last_name %>
            <%= customer.first_name %></td>
          <td><%= customer.email %></td>
          <td><% if customer.is_enabled = true %>
              有効会員
              <% else %>
              退会済み
              <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <!-- ページネーションを追加 => データ入力できるようになってから -->

</div>