<nav class="navbar navbar-expand navbar-dark bg-dark navbar-fixed-top">
  <div class="container">
    <div class="row">
      <span class="navbar-brand">ながのcake管理者サイト</span>
    </div>
  </div>
</nav>